<%- include('../partials/header') %>
<%- include('../partials/menu') %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%
					console.log(data)
					console.log(player)
					console.log(games)
				  var image_src = '../resources/img/helmet.jpg';
					if (player){
						if(player.img_src){
							player.forEach(function(item){
								image_src = item.img_src;
							});
						}
					}
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id,
							 			but will display the player's name-->
							<% if (data) {
								ins = ''
								data.forEach(function(item){
									ins += '<option value="' + item.id + '">' + item.name + '</option>';
								}); %>
								<%- ins %>
							<% } %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<%
							numgames = ''
							year = ''
							major = ''
							pass_yds = ''
							avg_pass_yds = ''
							rush_yds = ''
							avg_rush_yds = ''
							rec_yds = ''
							avg_rec_yds = ''
							if (games){
								games.forEach(function(item){
									numgames += item.count;
								});
							}
							if (player) {
								if (player.year){
									player.forEach(function(item){
										year += item.year;
									});
								}
								if (player.major){
									player.forEach(function(item){
										major += item.major;
									});
								}
								if (player.passing_yards){
									player.forEach(function(item){
										pass_yds += item.passing_yards;
										avg_pass_yds += ParseInt(pass_yds) / ParseInt(numgames);
									});
								}
								if (player.rushing_yards){
									player.forEach(function(item){
										rush_yds += item.rushing_yards;
										avg_rush_yds += ParseInt(rush_yds) / ParseInt(numgames);
									});
								}
								if (player.recieving_yards){
									player.forEach(function(item){
										rec_yds += item.recieving_yards;
										avg_rec_yds += ParseInt(rec_yds) / ParseInt(numgames);
									});
								}
							} %>
							<th>Year</th>
							<td> <%- year %>	</td>
						</tr>
						<tr>
							<th>Major</th>
							<td> <%- major %>	</td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td> <%- numgames %>	</td>
						</tr>
						<tr>
							<td>Passing Yards: <%- pass_yds %></td>
							<td>Avg. Passing Yards: <%- avg_pass_yds %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%- rush_yds %></td>
							<td>Avg. Rushing Yards: <%- avg_rush_yds %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%- rec_yds %></td>
							<td>Avg. Receiving Yards: <%- avg_rec_yds %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

<%- include('../partials/footer') %>
